
*{background-color: blue; color:red}
a {text-decoration: none; border-style: solid; border-color:white color:white; padding: 5px 5px; font-size: 15px}
body{}
li{margin: 20px}
#select{background-color: red; border-style: dotted; font-weight: bold;}
